<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oft.fittools.mapper.MessageMapper">
    <insert id="insert">
        insert into chat_message(time, source, target, message)
        values (#{time},#{source},#{target},#{message})
    </insert>
    <select id="getHistoryMessages" resultType="com.oft.fittools.po.ChatMessage">
        select *
        from (select *
              from chat_message
              where source = #{source} and target = #{target} or source = #{target} and target = #{source}
              order by time desc
              limit 50) as messages
        order by time asc
    </select>
    <select id="getHistoryMessagesBefore" resultType="com.oft.fittools.po.ChatMessage">
        select *
        from (select *
              from chat_message
              where time &lt; #{before} and ( source = #{source} and target = #{target} or source = #{target} and target = #{source} )
              order by time desc
                  limit 50) as messages
        order by time asc
    </select>
    <select id="getChatList" resultType="com.oft.fittools.dto.chat.GetChatListRespDTO">
        select list.target as targetCallSign, list.latest_time as latestTime, chat_message.message as message
        from (select target, max(latest_time) as latest_time
              from (select source as target, max(time) as latest_time
                    from chat_message
                    where target = #{source}
                    group by source
                    union
                    select target as target, max(time) as latest_time
                    from chat_message
                    where source = #{source}
                    group by target) as duplicate_list
              group by target
              order by latest_time desc) as list
        join chat_message
        on list.target = chat_message.target and chat_message.source = #{source} and latest_time = chat_message.time
        or #{source} = chat_message.target and chat_message.source = list.target and latest_time = chat_message.time
    </select>
</mapper>