<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oft.fittools.mapper.UserMapper">
    <select id="userRegister">
        insert into user(username, password, email)
        values(#{username}, #{password}, #{email})
    </select>
    <select id="userEmailMatch" resultType="java.lang.Integer">
        select count(*)
        from user
        where username = #{username} and email = #{email}
    </select>

    <select id="getUserByUsername" resultType="com.oft.fittools.po.User">
        select *
        from user
        where username = #{username}
    </select>

    <update id="updatePassword">
        update user
        set password = #{password}
        where username= #{username}
    </update>
    <update id="updateAvatar">
        update user
        set avatar = #{avatar}
        where username= #{username}
    </update>
    <update id="updateUsername">
        update user
        set username = #{newName}
        where username= #{oldName}
    </update>
    <update id="updateEmail">
        update user
        set email = #{email}
        where username= #{username}
    </update>
    <update id="updateLocationId">
        update user
        set location_id = #{locationId}
        where username= #{username}
    </update>
</mapper>