<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oft.fittools.mapper.UserBasicInfoMapper">
    <select id="getUserBasicInfoByUsername" resultType="com.oft.fittools.po.UserBasicInfo">
        select username, password
        from user
        where username = #{username}
    </select>
</mapper>